<!-- <div fxLayout="column">
    <div fxLayout="row">
        <div fxFlex="50">
            <canvas
            baseChart
            class="chart"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
          
          <button mat-button mat-raised-button color="primary" (click)="randomize()">
            Update
          </button>
        </div>
    
      <div fxFlex="50">
        <canvas
      baseChart
      class="chart"
      [data]="doughnutChartData"
      [type]="doughnutChartType"
    >
    </canvas>
      </div>
    </div>
    
    <div fxLayout="row">
        <canvas
        baseChart
        class="chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      >
      </canvas>
      
      <button mat-button mat-raised-button color="primary" (click)="randomize()">
        Update
      </button>
    </div>
    </div>
     -->