.head {
    background-color: rgb(11, 178, 150);
    color: white;
    border-radius: 0%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  table {
    width: 100%;
  }
  .btn {
    background-color: white;
    color: rgb(11, 178, 150);
    border-radius: 30px;
    height: 35px;
  }
  
  .active{
      margin-right: 5px;;
  }