.head{
    background-color: rgb(11, 178, 150);
    color: white;
    border-radius: 0%;
    height: 50px;
    display: flex;
    align-items: center;
    // justify-content: center;
}
.mat-form-field{
    width: 30%;
   }