.head {
  background-color: rgb(11, 178, 150);
  color: white;
  border-radius: 0%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  width: 100%;
}

.button {
    background-color: white;
    color: rgb(11, 178, 150);
    border-radius: 30px;
    height: 34px;
    width: 34px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 27px;
    border-radius: 50%;
}

.active{
    margin-right: 5px;;
}


