<mat-card>
    <mat-card-header>
        <mat-card-title>Education</mat-card-title>
    </mat-card-header>
    <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
        <div formArrayName="educations">
            <div *ngFor="let education of educationControls.controls; let i = index" [formGroupName]="i">
                <div fxLayout="row" fxLayoutGap="10">
                    <mat-form-field fxFlex class="" appearance="outline">
                        <mat-label>School</mat-label>
                        <input matInput placeholder="Ex: Boston University" formControlName="school" required>
                    </mat-form-field>

                    <mat-form-field fxFlex class="" appearance="outline">
                        <mat-label>Degree</mat-label>
                        <input matInput placeholder="Ex: Bachelor's " formControlName="degree" required>
                    </mat-form-field>

                    <mat-form-field fxFlex class="" appearance="outline">
                        <mat-label>Field of Study</mat-label>
                        <input matInput placeholder="Ex: Business" formControlName="field" required>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="10">

                    <mat-form-field fxFlex class="" appearance="outline">
                        <mat-label>Start date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a Start date"
                            formControlName="start" required>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>


                    <mat-form-field fxFlex class="" appearance="outline">
                        <mat-label>End date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" placeholder="Choose an End date"
                            formControlName="end" required>
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex class="" appearance="outline">
                        <mat-label>Grade</mat-label>
                        <input matInput placeholder="" formControlName="grade" required>
                    </mat-form-field>
                    
                </div>

                    <div fxLayout="row" fxLayoutGap="10"  fxLayoutAlign="end">

                        
                        <button mat-icon-button color="primary" (click)="addEducation()">
                            <mat-icon>add</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" (click)="removeEducation(i)">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>
            </div>
        </div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>

</mat-card>